#paper {
    padding: 5px 5px 5px 5px;
    width: 300px;
    margin: 20px auto;
}

#header {
    margin: 0;
    color: rgb(80, 6, 80) !important;
}

#btn {
    background-color: rgb(80, 6, 80) !important;
}

#btn:hover {
    background-color: rgb(122, 67, 122) !important;
    color: hover-color;
    border-color: hover-border;
}
